function Main.main 0
push constant 12
call String.new 1
push constant 72
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 12
call String.new 1
push constant 95
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 94
call String.appendChar 2
push constant 37
call String.appendChar 2
push constant 64
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 37
call String.appendChar 2
push constant 94
call String.appendChar 2
push constant 38
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
