function SquareGame.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 2
push constant 250
pop this 3
push constant 117
pop this 4
push this 4
push this 3
push constant 5
call Square.new 3
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push this 1
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Square.moveUp 1
pop temp 0
label IF_FALSE0
push this 2
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Square.moveDown 1
pop temp 0
label IF_FALSE1
push this 2
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
call Square.moveLeft 1
pop temp 0
label IF_FALSE2
push this 2
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
call Square.moveRight 1
pop temp 0
label IF_FALSE3
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 3
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 10
push constant 10
call Output.moveCursor 2
pop temp 0
push constant 22
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
if-goto WHILE_END0
push constant 5
call Sys.wait 1
pop temp 0
push local 2
push constant 1
add
pop local 2
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 0
push local 2
call LCGRandom.setSeed 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 50
push constant 450
call LCGRandom.randRange 2
pop this 3
push constant 50
push constant 200
call LCGRandom.randRange 2
pop this 4
push this 1
push this 4
push this 3
call Square.setPosition 3
pop temp 0
label WHILE_EXP1
push local 1
not
not
if-goto WHILE_END1
label WHILE_EXP2
push local 0
push constant 0
eq
not
if-goto WHILE_END2
push this 1
call Square.getx 1
push this 0
call Square.getx 1
gt
push this 1
call Square.getx 1
push this 0
call Square.getx 1
push this 0
call Square.getSize 1
add
lt
and
push this 1
call Square.gety 1
push this 0
call Square.gety 1
gt
and
push this 1
call Square.gety 1
push this 0
call Square.gety 1
push this 0
call Square.getSize 1
add
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 50
push constant 450
call LCGRandom.randRange 2
pop this 3
push constant 50
push constant 200
call LCGRandom.randRange 2
pop this 4
push this 1
push this 4
push this 3
call Square.setPosition 3
pop temp 0
push this 0
call Square.incSize 1
pop temp 0
label IF_FALSE0
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto WHILE_EXP2
label WHILE_END2
push local 0
push constant 81
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 1
label IF_FALSE1
push local 0
push constant 131
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
pop this 2
label IF_FALSE2
push local 0
push constant 133
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 2
pop this 2
label IF_FALSE3
push local 0
push constant 130
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 3
pop this 2
label IF_FALSE4
push local 0
push constant 132
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 4
pop this 2
label IF_FALSE5
label WHILE_EXP3
push local 0
push constant 0
eq
not
not
if-goto WHILE_END3
push this 1
call Square.getx 1
push this 0
call Square.getx 1
gt
push this 1
call Square.getx 1
push this 0
call Square.getx 1
push this 0
call Square.getSize 1
add
lt
and
push this 1
call Square.gety 1
push this 0
call Square.gety 1
gt
and
push this 1
call Square.gety 1
push this 0
call Square.gety 1
push this 0
call Square.getSize 1
add
lt
and
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 50
push constant 450
call LCGRandom.randRange 2
pop this 3
push constant 50
push constant 200
call LCGRandom.randRange 2
pop this 4
push this 1
push this 4
push this 3
call Square.setPosition 3
pop temp 0
push this 0
call Square.incSize 1
pop temp 0
label IF_FALSE6
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto WHILE_EXP3
label WHILE_END3
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
