function Main.main 3
push constant 50
push constant 50
push constant 10
call Circle.new 3
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
label WHILE_EXP0
push local 2
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 1
goto WHILE_EXP1
label WHILE_END1
label WHILE_EXP2
push local 1
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 1
push local 1
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 2
label IF_FALSE0
push local 1
push constant 90
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push local 0
call Circle.getRadius 1
push constant 1
sub
call Circle.size 2
pop temp 0
label IF_FALSE1
push local 1
push constant 88
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push local 0
call Circle.getRadius 1
push constant 1
add
call Circle.size 2
pop temp 0
label IF_FALSE2
push local 1
push constant 131
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push local 0
call Circle.getx 1
push local 0
call Circle.gety 1
push constant 5
sub
call Circle.move 3
pop temp 0
label IF_FALSE3
push local 1
push constant 133
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push local 0
call Circle.getx 1
push local 0
call Circle.gety 1
push constant 5
add
call Circle.move 3
pop temp 0
label IF_FALSE4
push local 1
push constant 130
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
push local 0
call Circle.getx 1
push constant 5
sub
push local 0
call Circle.gety 1
call Circle.move 3
pop temp 0
label IF_FALSE5
push local 1
push constant 132
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 0
push local 0
call Circle.getx 1
push constant 5
add
push local 0
call Circle.gety 1
call Circle.move 3
pop temp 0
label IF_FALSE6
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
