call draw 0
function Square.new 0
call Memory.deAlloc 1
function Square.dispose 0
call Screen.setColor 1
call Screen.drawRectangle 4
function Square.draw 0
call Screen.setColor 1
call Screen.drawRectangle 4
function Square.erase 0
call erase 0
call draw 0
function Square.incSize 0
call erase 0
call draw 0
function Square.decSize 0
call Screen.setColor 1
call Screen.drawRectangle 4
call Screen.setColor 1
call Screen.drawRectangle 4
function Square.moveUp 0
call Screen.setColor 1
call Screen.drawRectangle 4
call Screen.setColor 1
call Screen.drawRectangle 4
function Square.moveDown 0
call Screen.setColor 1
call Screen.drawRectangle 4
call Screen.setColor 1
call Screen.drawRectangle 4
function Square.moveLeft 0
call Screen.setColor 1
call Screen.drawRectangle 4
call Screen.setColor 1
call Screen.drawRectangle 4
function Square.moveRight 0
